[submodule "submodules/SNES"]
	path = submodules/SNES
	url = git@github.com:PeterLemon/SNES.git
[submodule "submodules/snes-test-roms"]
	path = submodules/snes-test-roms
	url = https://gitlab.com/higan/snes-test-roms.git
[submodule "submodules/65816"]
	path = submodules/65816
	url = git@github.com:SingleStepTests/65816.git
[submodule "submodules/SingleStepTests_spc700"]
	path = submodules/SingleStepTests_spc700
	url = git@github.com:SingleStepTests/spc700.git
[submodule "submodules/Mesen2"]
	path = submodules/Mesen2
	url = https://github.com/SourMesen/Mesen2.git
