[submodule "ProcessorTests"]
	path = submodules/ProcessorTests
	url = git@github.com:TomHarte/ProcessorTests.git
[submodule "submodules/SNES"]
	path = submodules/SNES
	url = git@github.com:PeterLemon/SNES.git
[submodule "submodules/snes-test-roms"]
	path = submodules/snes-test-roms
	url = https://gitlab.com/higan/snes-test-roms.git
