attrs
black
certifi
cffi
charset-normalizer
click
cloudpickle
cocos2d
colorama
commonmark
Cython
execnet
glfw
greenlet
# hpy==0.9.1.dev61+g79fb330d  # This python implementation comes with its own version of hpy==0.9.1.dev61+g79fb330d
idna
imgui
importlib-metadata
iniconfig
mypy-extensions
numpy
nvidia-ml-py
packaging
pathspec
platformdirs
pluggy
py
pygame
pyglet
Pygments
PyOpenGL
moderngl
moderngl-window
pyparsing
PySDL2
pysdl2-dll
pytest
pytest-forked
pytest-xdist
pytz
readline
regex
requests
rich
scalene
six
toml
tomli
typing_extensions
urllib3
vmprof
zipp
